[Unit]
Description=Set amplifier mixer levels to 100%
After=sound.target sendspin@room_kueche.service sendspin@room_wohnzimmer.service
Wants=sound.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'sleep 5 && amixer -c amp1 sset PCM 100%% && amixer -c amp2 sset PCM 100%% && amixer -c amp3 sset PCM 100%%'

[Install]
WantedBy=multi-user.target
