[Unit]
Description=Snapcast client for %i
After=sound.target snapserver.service
Wants=snapserver.service

[Service]
Type=simple
ExecStart=/usr/bin/snapclient -h localhost --hostID %i -s %i --logsink=system --sampleformat 48000:16:*
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
